{% extends "layouts/base.twig" %}

{% block main %}
<form action="{{ path_for('Post_Register') }}" method="post"  style="width:500px;margin:auto;padding-top:18px;">

    <div class="form-group">
        <label for="username">Username</label>
        <input name="username" type="text" class="form-control {% if username %} is-invalid {% endif %}" id="username" aria-describedby="usernameHelp"
            placeholder="Enter username">
        <small id="usernameHelp" class="invalid-feedback">{{ username }}</small>
    </div>

    <div class="form-group">
        <label for="email">Email address</label>
        <input name="email" type="email" class="form-control {% if email %} is-invalid {% endif %}" id="email" aria-describedby="emailHelp" placeholder="Enter email">
        <small id="usernameHelp" class="invalid-feedback">{{ email }}</small>
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <input name="password" type="password" class="form-control {% if password %} is-invalid {% endif %}" id="password" aria-describedby="passwordHelp">
        <small id="usernameHelp" class="invalid-feedback">{{ password }}</small>
        <small id="passwordHelp" class="form-text text-muted">At least one character, one number, a lowercase and an uppercase.</small>
    </div>

    <div class="form-group">
        <label for="repassword">Repeat password</label>
        <input name="repassword" type="password" class="form-control {% if password %} is-invalid {% endif %}" id="repassword" aria-describedby="repasswordHelp">
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>

</form>
{% endblock %}