{% extends "layouts/base.twig" %}

{% block main %}
    Messages
    <script>
        var conn = new WebSocket('ws://localhost:8080');
        conn.onopen = function (e) {
            console.log("Connection established!");
            conn.send("Message");
        };

        conn.onmessage = function (e) {
            console.log(e.data);
        };
    </script>
{% endblock %}
